@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&display=swap');
html{
    margin: 0px;
    padding: 0px;
}
body{
    display:block;
    margin: 0px !important;
    padding: 0px !important;
    font-family:'Times New Roman', Times, serif;
}

div.title{
    text-align: center;
    font-size:50px;
    font-family:'Diphylleia', serif;
    color: whitesmoke;
}

a{
    text-align: center;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}

.MainPage_title{
    font-family:monospace;
    font-size: 20px;
    color:darkslategrey;
}

.Poster_Images{
    border-style: dotted;
    padding-block: 10px;
    color:darkolivegreen;
}

.socialMedia{
    display: inline-block
}

.socialMedia:hover{
    font-size: 3%;
    color: rgba(240,255,240, 1);
    text-decoration: none;
    opacity: .5;
}

fieldset{
    border: 1px solid black;
    border-radius: 6px;
}

legend{
    color:black;
}

header{
    margin:0px;
    padding: 0px;
    background: linear-gradient(to top,rgba(85,107,47, 0), rgba(85,107,47, 1));
}

footer{
    background-color: rgba(85,107,47, 0.5);
    padding: 7px 0px 3px 0px;
    
}

nav{
    text-align: center;
}