@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&display=swap');

body{
    background-color: whitesmoke;
    font-family:'Diphylleia', serif;
}

.title{
    text-align: center;
    color: rgb(107, 112, 92);
    font-size: 70px;
}

nav{
    text-align: center;
}

a{
    font-size: 30px;
    text-decoration: none;
    color:rgb(165, 165, 141);
}

a:hover{
    text-decoration: underline;
    color:rgb(107, 112, 92);
}

footer{
    text-align: center;
    background-color: rgba(183, 183, 164, 0.3);
}

.center{
    text-align: center;
}

fieldset{
    border-style: dashed;
}


/* Contact Page */

.contactHomePage{
    border-right: 6px dashed;
    border-right-color:rgb(107, 112, 92);
    padding-right: 25px;
    margin-right: 15%;

    border-left: 6px dashed;
    border-left-color:rgb(107, 112, 92);
    padding-left: 25px;
    margin-left: 15%;

    border-bottom: 6px dashed;
    border-bottom-color:rgb(107, 112, 92);
    padding-bottom: 10px;

}

main > div.social{
    flex-wrap: wrap;
    display:block;
    margin:auto;
    background-color: rgb(165, 165, 141);
    
}

.socialMedia{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px;
    
    
} 

.socialMedia-item:hover{
    flex-wrap: wrap;
    row-gap: 10px;
    opacity: 0.5;
}

.SMText{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
    margin-bottom: 40px;
}

.messagerBox{
    flex-wrap: wrap;
    text-align: center;
    max-width: 1200;
    display:flex;
    flex-direction: column;
    font-size: 15px;
}

/*Main Page*/

.homeContent{
    border-right: 6px dashed;
    border-right-color:rgb(107, 112, 92);
    padding-right: 25px;
    margin-right: 15%;

    border-left: 6px dashed;
    border-left-color:rgb(107, 112, 92);
    padding-left: 25px;
    margin-left: 15%;

    border-bottom: 6px dashed;
    border-bottom-color:rgb(107, 112, 92);
    padding-bottom: 10px;
}

#quote{
    text-align: center;
}

.current{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    background-color: rgb(165, 165, 141);
    width: 100%;
    margin-bottom: 10px;
    padding-right: 5px;

}

.comingUp{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color:rgba(107, 112, 92, 0.6);
    padding-left: 10px;
    text-align: center;
    
}

.comingUp img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

.pervious{
    display: flex;
    flex-direction: row;
    
}

.perText{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(165, 165, 141, 0.2);
    width: 60%;

}

.decoBoxHome{
    background-color: rgba(183, 183, 164, 0.7);
    margin-left: 10px;
    margin-bottom:5px;
    padding-right: 185px;
    padding-top: 100px;
    display: flex;
    flex-shrink: auto;
    

}

.slideShowBox{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    border-color:rgba(183, 183, 164, 0.3);
    width: 40%;
}

#slideshow {
    overflow: hidden;
    box-shadow: 6px 8px 10px grey;
    height: 665px;
    width: 40%;
    width: 510px;
    margin: 0;
}  

.slide {
    display: inline-block;
    width: 510px;
    height: 665px;
}

.slide img{
    width: 510px;
    height: 665px;
}

.slide-container:hover{
    animation-play-state: paused;
}
   
  /* Add animation to the slides */
.slide-container {
    width: calc(510px * 6);
    animation-name: slide;
    animation-timing-function: ease;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes slide {
    16% {
        margin-left: 0px;
    }
   
    32% {
        margin-left: calc(-510px * 1);
    }
   
    48% {
        margin-left: calc(-510px * 2);
    }
   
    64% {
        margin-left: calc(-510px * 3);
    }

    80% {
        margin-left: calc(-510px * 4);
    }

    96% {
        margin-left: calc(-510px * 5);
    }
}

/*About Me*/

.AboutBody{
    border-right: 6px dashed;
    border-right-color:rgb(107, 112, 92);
    padding-right: 25px;
    margin-right: 15%;

    border-left: 6px dashed;
    border-left-color:rgb(107, 112, 92);
    padding-left: 25px;
    margin-left: 15%;

    border-bottom: 6px dashed;
    border-bottom-color:rgb(107, 112, 92);
    padding-bottom: 10px;
    margin-bottom:10px;
    
}

.bioBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#picAuthor{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 10px;
    margin-right: 15px;
    box-shadow: 3px 5px 10px grey;

}

.bio{
    display: flex;
    flex-direction: column;
    background-color: rgba(165, 165, 141, 0.5);
    width:40%;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right:10px;
    box-shadow: 6px 8px 10px grey;

}

/*.decoBox{
    background-color: rgba(178, 172, 136, 0.8);
    margin-left: 10px;
    margin-bottom:10px;
    padding-right: 185px;
    box-shadow: 6px 8px 10px grey;
}*/

.inspoBody{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;
}

.intrests{
    display: flex;
    flex-direction: column;
    width:30%;
    background-color: rgba(183, 183, 164, 0.3);
    margin-right: 50px;
    margin-top: 10px;
    padding-left: 15px;
    margin-bottom:10px;
    box-shadow: 6px 8px 10px grey;
}

.goals{
    width:60%;
    background-color: rgba(183, 183, 164, 1);
    padding-left: 15px;
    box-shadow: 6px 8px 10px grey;

}

